.content{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
  background: rgb(255, 247, 234);
  height: 50vh; 
}

.content-2 {
  margin-top: 100px;
}

.content-3 {
  margin-top: 100px;
}

.parallax {
  background-image: url('../gallery/familyFriends/familyFriends12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 60vh; 
}

.content-2, .content-3 {
  margin-top: 0; 
}