.parallax {
  background-image: url('../gallery/familyFriends/familyFriends12.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 90vh; 
}

.aboutme{
  background-color: white;
  color:#556B2F;
}


