.parallax-about {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 90vh; 
}

.container-about {
  width: 100%;
  color: #556B2F;
  background-color: rgba(240, 248, 255);
  padding: 20px; 
  box-sizing: border-box; 
  position: relative;
  z-index: 1;

  h2{
    font-weight: bold;
  }
}