$text-color: aliceblue;

.footer {
    background-color: rgba(0, 0, 0, 0.5); 
}

.footer, i, .portfolio-link {
    color: $text-color;
}

.portfolio-link {
    text-decoration: none;
}

.footer p {
    margin: 0; 
    padding: 0;
}

.footer .row, .footer .col {
    margin: 0; 
    padding: 0;  
}
