$color-verde-agua: #A7EDDF;
$color-coral-suave: #FF9A8A;
$background: mix($color-verde-agua, $color-coral-suave, 50%); 

.footer{
    color: white;
    background: $background; 
}

.footer i {
    color: white;
}

.portfolio-link {
    text-decoration: none;
    color: aliceblue; 
}
