$text-color: rgb(255, 255, 255); 

.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.187);
  width: 100%;
  transition: 0.7;
  z-index: 1000;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding-left: 0;
}

#header {
  transition: opacity 0.8s ease,  background-color 0.5s ease;
  opacity: 1;  
}

#header.oculto {
  opacity: 0; 
  pointer-events: none;
}

.nav-link {
  position: relative;
  color: $text-color; 
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block; 

  &:hover {
    color: $text-color; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.664);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $text-color;
      animation: underlineAnimation 0.3s ease forwards; 
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $text-color;
    transition: all 0.3s ease; 
  }
}

@keyframes underlineAnimation {
  from {
    left: 50%;
    width: 0;
  }
  to {
    left: 0;
    width: 100%;
  }
}

.navbar-toggler{
  border-color: white;
  color: white;
}

.blur-effect {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  width: 300px;
  height: auto;
}

/* Ajustes para dispositivos pequeños (móviles) */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Hace que los enlaces del menú se apilen verticalmente */
    gap: 20px; /* Añade un poco más de espacio entre los elementos del menú */
  }

  .navbar-toggler {
    display: block; /* Asegura que el toggler se muestre en dispositivos móviles */
  }

  .nav-link {
    font-size: 18px; /* Aumenta el tamaño de la fuente para una mejor legibilidad */
  }

  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo para el menú desplegable para mejorar el contraste */
    backdrop-filter: blur(5px); /* Estilo adicional para soportar fondos difuminados */
  }
}

/* Ajustes para dispositivos medianos (tablets) */
@media (min-width: 769px) {
  .navbar-nav {
    gap: 30px; /* Espaciado ligeramente mayor para tablets */
  }

  .nav-link {
    font-size: 20px; /* Tamaño de fuente ligeramente mayor para tablets */
  }
}
