.inicio { 
    background: url("/images/fondo.jpg") no-repeat center center; 
    background-size: cover; 
    color: #ffffff; 
    text-align: center; 
    font-size: 2em; 
    font-weight: bold;
    min-height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .inicio p {
    max-width: 600px;
    line-height: 1.4;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.393); 
    border-radius: 10px; 
  }
  