@import "./node_modules/bootstrap/scss/bootstrap.scss";

//estilos menu
@import "./scss/header";
@import "./scss/inicio.scss";
@import "./scss/description.scss";
@import "./scss/footer";

//estilos sub-menu
@import "./scss/aboutMe.scss";
@import "./scss/portraits.scss";
@import "./scss/couples.scss";
@import "./scss/familyFriends";

$background: #f3edda; //color prederminado
$general-font: "Josefin Sans", sans-serif;
$letter-color: white;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: $general-font;
    font-size: 20px;
    color: $letter-color;
}
